# Offical KSP Save Folder #
####### WARNING #######
# Jungfaha Group [JunG] Ignore list #
.git/**
backup/**
subassemblies/**
ships/Old/**
ships/Old/VAB/
ships/SPH/Hazard-ish - Truck and Trailer.craft.original
ships/SPH/"Hazard-ish - Truck and Trailer.craft.original"

